@(list: Seq[model.SearchTerm], entityForm: Form[model.SearchTerm])

@import views.html.helper._
@import views.html.helper.twitterBootstrap._


@main {
    <div class="row-fluid">
        <div class="span9">
            @helper.form(action = routes.TweetController.save, args = 'class -> "form-horizontal") {

            <input type="hidden" name="id" id="id" value='@entityForm("id").value'/>
            <fieldset>
                <input type="text" id="text" name="text" value='@entityForm("text").value' />
                <button type="submit" class="btn btn-primary">add</button>
            </fieldset>

            }

            @list.map {  searchTerm =>
            <div class="entry">
                <div class="title">
                    <h2><a href="@routes.TweetController.tweets(searchTerm.text, 10)">@searchTerm.text</a></h2>
                </div>
                <div class="actions">
                    <ul class="nav nav-pills">
                        <li><a href="@routes.TweetController.delete(searchTerm.id)">Delete</a></li>
                    </ul>
                </div>
            </div>
            }
        </div>
    </div>
}